:root{
    --primary-color: #EA4648;
    --d-color:#070909;
    --c-font: 'Arial';
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.header-navbar {
    justify-content: center;
    position: relative;
    padding-top: 20%;
    display: block;
    margin-right: -40px;
    margin-top: 35px;
    margin-bottom: -80px;
    z-index: 5;
}

.header-navbar .logo img {
    height: 21%;
    width: 21%;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:5%;
}

.drop-down-menu{
    background-color: white;
}

.drop-down-menu-1{
    display: flex;
    flex-direction: row;
    background-color: var(--d-color);
}

 .row-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25%;
    left: 37%;    
    justify-content: center;
    align-items: center;
}

.header-navbar ul li a{
    margin-right: 1em;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--c-font);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--d-color);
    line-height: 1.55em;
    letter-spacing: 0.02em;
}


.header-navbar ul li a:hover{ /*how to make a margin btw the bottom border and the a element*/
    border-bottom: 1px solid var(--d-color);
}

.header-navbar .menu-logo img{
    display: none;
    width:50px;
    height:41px;
}

.header-content h1{
    padding: 50px;
    font-size: 60px;
    font-family: var(--c-font);
    line-height: 1.28em;
    font-weight: 900;
    margin-bottom: 37px;
    letter-spacing: 0.02em;
}

.header-content h1 span{
    color: var(--primary-color);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
/*Buttons*/

.btn{
    cursor: pointer;
    font-family: var(--c-font);
    text-transform: uppercase;
    border-radius: 9px;
}

.btn:hover{
    background-color: var(--d-color);
}

.btn-talk{
    color: var(--d-color);
    background-color: white;
    border: 2px solid var(--d-color);
    outline: none;
    width:158.52px;
    height: 52px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.55em;
    letter-spacing: 0.02em;
    position: absolute;
    top:20%;
    left:80%;
}

.btn-talk:hover{
    color: white;
    
}

.btn-find{
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border: none;
    height: 62px;
    font-size: 16px;
    font-weight: 700;
    
}

.one{
    margin-left: 50px;
    width: 247.2px;
}

.two{
    position: absolute;
    left: 500%;
    margin-top: 50px;
    margin-left: 10%;
    text-align: center;
    width: 210.52px;
}

.section-2{
    position: relative;
}

.section-2 button{
    position: absolute;
    left: 30%;
}

/* section-1-index /////////////////////////////////////////// */

.section-1{
    width:100%;   
    height:1000px;
    padding: 100px 0 80px 0;
    background-color: var(--d-color);
    color: #fff;
    margin-top: 80px;
    position: relative;
    animation-duration: 1s;

}

/* slideshowwwwwwwwwwwwwwwwwwwwwwwwww */

.slideholder{
    transition-delay:1s; 
animation-fill-mode: both;
animation-name: none;
}

.w3-center ul li button {

    width: 16px;
    height: 16px;
    display: block;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;
}

/*Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover*/
.w3-center ul li button:hover {

    background-color: black;

}

.w3-center ul li button:focus {

    background-color: black;
}

/*Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover Dots hover*/

.section-1 .slide-show .w3-center{

    position: absolute;
    bottom:15%;
    left: 35%;
}

.section-1 ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
    width:33%;
}

.w3-center ul li {

    list-style: none;
    font-size: 55px;
    color: white;

}

.sub1{
    width: 30%;
    position: absolute;
    left: 8%;
    top:15%;
    /* background-color: var(--primary-color); */
}

.sub2{
    width: 50%;
    position: absolute;
    left: 40%;
    top:15%;
    /* background-color: var(--primary-color); */
}


@media (max-width: 767px) {  /*mediaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
    .sub1{
        width: 90%;
        position: absolute;
        left: 2%;
        top:8%;
        display: inline-block;
     
    }
    
    .sub2{
        width: 90%;
        position: absolute;
        left: 2%;
        top:35%;
        display: inline-block;
        
    }

    /* .w3-left{
        position: absolute;
        left:5%;
        top:35%;   
    }
    
    .w3-right{
        position: absolute;
        right: 5%;
        top:35%;
    }

    .w3-center ul{

        position: absolute;
        right: 50%;
        top:50%;

    } */
    
}

/*sub1*/

.w3-left, .w3-right {
    cursor:pointer
}

.w3-left{
    position: absolute;
    left:5%;
    top:35%;
    background-color: gray;
    width: 30px;
    height: 30px;
}

.w3-right{
    position: absolute;
    right: 5%;
    top:35%;
    background-color: gray;
    width: 30px;
    height: 30px;
}

.sub1 h3{
    
    font-style: italic;
    font-size: 250%;
    line-height: 1.25em;
    font-family: Cambria;
    font-weight: normal;
    padding-left:10%;
    padding-top: 10%;
    padding-bottom: 15%;
}

.sub1 h6{

    font-size: 120%;
    font-weight: bold;
    font-family: var(--c-font);
    padding-left:10%;
}

/*sub2*/

.sub2 h3{

    font-size: 180%;
    line-height: 1.33em;
    font-family: var(--c-font);
    font-weight: 600;
    padding-top: 10%;
    padding-left:10%;
    padding-bottom: 10%;
}

.sub2 img{
    
    width: 200px;
    height: 60px;
    padding-left:8%;
}

.quotes{
    width: 15%;
    position: absolute;
    left: 4%;
    top:12%
}

/*Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer*/

.footer{
    position: relative;
    padding: 90px 0;
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.contact-footer{
    background-color: black;
    position: absolute;
    top:350%;
    width: 180%;
}

.contact-footer p{
    color: white;
}

.contact-footer a{
    color: white;
}

.footer img{
    width:6%; 
    position: absolute;
    left:5% ;
}

.contact-footer img{
    width:6%; 
    position: absolute;
    bottom: 40%;
}

.footer p{
    font-family: var(--c-font);
    position: relative;
    left: 57%;
    margin-top: 1%;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.55em;
    letter-spacing: 0.02em;
}

.contact-footer p a{
    color: white;
}

.footer p a{
    color: var(--d-color);
}

.section-2{

    padding: 180px 0 120px;
}

.section-2 h2{
    text-align: center;
    font-family: var(--c-font);
    font-size: 60px;
    line-height: 1.3em;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 25px;
}

/*section-1-contact section-1-contact section-1-contact section-1-contact section-1-contact section-1-contact section-1-contact*/



.home-page-content{
    position: relative;
}

.section-1-contact{
   position: absolute;
   top:5%;
}

.fill-form-text{

    margin-top: 30%;
    margin-left: 7%;
    width: 50%;
}

.fill-form-text h1{   /*ok*/
    font-size: 348%;
    line-height: 1.5em;
    font-family: var(--c-font);
    font-weight: 900;
}

.fill-form-text h4{   /*ok*/
    font-size: 138%;
    font-family: var(--c-font);
    line-height: 1.4em;
    font-weight: bold;
    margin-top: 7%;
}

.section-1-contact form{   /*ok*/
    position: absolute;
    left:65%;
    top:36%;
    width:81%;
    height:237%;     /*hok*/
    box-shadow: 0px 6px 43px 0px rgb(0 0 0 / 31%);
    padding: 7% 5%;
}


/*fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1 fieldset1*/

.fieldset1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
    margin-top: 5%;
}

.fieldset1 div{  /*will back*/
    margin-left: 10%;
    margin-bottom: 18%;
}

.fieldset1 div:nth-child(odd){

    margin-left: 9%;

}

.fieldset1 div:nth-child(even){

    margin-left: 5%;

}

.fieldset1 div label{
    font-size: 18px;
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--c-font);
}

.fieldset1 div label .star{
    color: red;
}

.fieldset1 input,select{
    height:116%;
    width:94%;   
}

.fieldset1 select{

    font-weight: bold;
    font-family: var(--c-font);
}

.fieldset1 select option{
    font-family: var(--c-font);
    font-weight: bold;
}

/*fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2 fieldset2*/

.fieldset2{
    border: none;
    margin-left: 5%;
}

.fieldset2 textarea{
    width:97%;
    height:140px;
    margin-top: 3%;
    
}

.fieldset2 .textarea{
    font-weight: bold;
    font-family: var(--c-font);
}

.fieldset2 input[type="submit"]{
    display: block;
    width: 97%;
    margin-top: 4%;
}

.fieldset2 .terms{

    /* box-shadow: 5px 5px 8px 2px #888888; */
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 26%;

}
.fieldset2 .terms div{

    display: inline-block;
    background-color: #1E90FF;
    color: white;
    font-family: var(--c-font);
    height: 60px;
    width:51%;
    text-align: center;
    padding-top: 20px;
}

.section-1-contact .terms img{

    width:60px;
    height:60px;
}

.fieldset2 p[class="privacy"]{
    margin-top: 35px;
    text-align: center;
    color: #cacaca;
    font-family: var(--c-font);
    font-weight: 600;
}


/*Sydney and Melbourn Sydney and Melbourn Sydney and Melbourn Sydney and Melbourn Sydney and Melbourn Sydney and Melbourn*/

.contact-info{

    position: absolute;
    top:140%;
    left: 6%;
    display: flex;
    flex-direction: row;
    line-height: 1.55em;
}

.contact-info h5{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
    font-family: var(--c-font);
    line-height: 1.55em;
}

.contact-info p{
    margin-bottom: 30px;
    line-height: 1.55em;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--c-font);
} 

.sydney{
    width: 33%;
}

.melbourne{
    width:27%;
    margin-left: 5%;
}

/*.section-2-contact .section-2-contact .section-2-contact .section-2-contact .section-2-contact .section-2-contact*/

.section-2-contact{
    position: absolute;
    top:310%;
    left: 20%;
   
}

.section-2-contact h5{
   
    font-weight: bold;
    font-family: var(--c-font);
    font-size: 18px;
    margin-left: -7%;
    display: inline-block;
}

.section-2-contact img{
    width: 82%;
    margin-left: 51%;
    margin-top: -5%;
}

/*dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu dropmenu*/
.dropmenu{

    height: 0;  /*make it zero*/
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:var(--d-color);
    overflow-y: hidden;   /*overflow-y*/
    transition: 0.2s; 
}

.dropmenu img{
    position: relative;
     width: 24%;
     height: 8%;
     top:12px;
     left:10px;
}

#close{
    position: absolute;
    right: 10px;
    top:10px;
    text-decoration: none;
    font-weight: 1000;
    width: 20px;
    height: 20px;
    font-size: 25px;
}

.dropmenu div{
    display:grid;

}

.dropmenu div a{
    text-decoration: none;
    height: 70px;
    /* border-width: 100%; */
    display:flex;
    align-items: center;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    border-bottom: 1px solid rgb(223, 230, 233, .3);
}

.dropmenu div a:first-child{
    border-top: 1px solid rgb(223, 230, 233, .3); 
    
 }

.dropmenu  li ,a{
    color:#fff;
    cursor: pointer;
}


.home-page-content{
    display: block;
}

/*Head 2222222222222222*/

.head2{
    position: relative;
    top:60px;
    right:120px;
    height: 50px;
    display:none;
    margin-bottom: 100px;
    z-index: 5;
}
.top2{
    height: 100%;
    display: grid;
    grid-template-columns: auto 17% 15%;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 20px;

}

.top2 img{
    
    height: 50px;
    width: 40%;
    cursor:pointer;

}

.top2 a{
    display: flex;
    justify-content: center;
}

.top2 button{

    margin-right: 10px;
    
}

#menu1{
    margin-left: 340px;
    margin-top: 15px;
    height: 40px;
} 

.top2 div{
   width:100%;
   height: 100%;
   text-align: center;
   display: flex;
   align-items: center;
}


/*Head 3threeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee3*/

.head3{
    position: relative;
    top:40px;  
    left:60px;
    width: 80%;
    display:none;  
    z-index: 5;
}
.top3{
    height: 100%;
    display: flex;
    justify-content:space-between; 
    align-items: center; 
} 
.top3 #menu2{
    cursor: pointer;
    width: 15%;
}

.top3 img{
    width: 45%;
}

.err{
    border: 1px solid var(--primary-color);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAMAAADImI+JAAAAY1BMVEUAAADTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzTPVzwqts+AAAAIHRSTlMAuwg6opJsqg7e2RIkRNaxf14sxJx3G9DKmFBKi1YytseQe/sAAADxSURBVCjPhdJZrsMgDEBRG8xMGDJPbbr/VT5U9aU/pLl/iCMsWQCpJY9wxrwkglqEmDg7j3oTeFThQHYe2lNyMrOqQp6jxX+pubBmkVWofVa2k/4t+WKnZWuhnssqoCy3rLxnRaPhqvFBRWpohZ1E4+A691CdeDQSi9Pwq3FLChFV4hpu4ur1MsnDbS0VKN0d00+p5i7uq2c3gwWSXAcV5U/p+B6m5BmncMjntWRbH2bBGeiVQpeuJHPNYozg+r3PaIocq9A3vbX9Z89jVqYb1irMezD95gA+Eg2KKuxxotV9B8g4Yx0e8fy3JdfsGGvuDwFVDHV06goRAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px 10px;
}

/* ///////////////////////media */

     @media (max-width: 1041px){

        .footer p{
            position: relative;
            left: 45%;
            font-size: 14px;
        }
    
        .section-1-contact{
            display: flex;
            align-items: center;
        }

        .section-1-contact form{   /*ok*/
            position: absolute;
            left:8%;
            top:80%;
            width:111%;
            height:280%;     /*hok*/
        }

        .fill-form-text{

            /* font-size: 19px; */
            margin-top: 25%;
            margin-left: 8%;
            width: 200%;
            padding-bottom: 8%;
        }

        .fill-form-text h4{   /*ok*/
            font-size: 132%;
            font-family: var(--c-font);
            line-height: 1.4em;
            font-weight: unset;
            margin-top: 2%;;
            padding-bottom: 10%;
        }

        
        .fieldset1 div{  /*will back*/
            margin-left: 10%;
            margin-bottom: 18%;
        }
        
        .fieldset1 div:nth-child(odd){
        
            margin-left: 9%;
        }
        
        .fieldset1 div:nth-child(even){
        
            margin-left: 5%;
        }

        .contact-info{
            position: absolute;
            top:380%;
            left: 6%;
            display: flex;
            flex-direction: column;
        }

        .sydney{
            width: 100%;
        }
        
        .melbourne{
            width:100%;
            margin-left: 0;
        }
        
        .section-2-contact{
            position: absolute;
            top:490%;
            left: 20%;
        }

        .contact-footer{
            position: absolute;
            top:520%;
            left:0
        }

        .section-2-contact h5{
            font-weight: bold;
            font-family: var(--c-font);
            font-size: 15px;
            margin-left: -18%;
            display: inline-block;
        }
        
        .section-2-contact img{
            width: 60%;
            margin-right: 51%;
            margin-top: -5%;
        }

    .sub1 h3{
        font-size: 200%;
    }

    .sub2 h3{
        font-size: 160%;
    }

     .section1 .quotes{
        width: 100px;
        position: absolute;
        left: 10%;
    } 
 
     .header-navbar{
        display: none;
    }
  
    .head2{
        display: block;
    }  

 }
  
 @media (max-width: 765px) {
  
    .header-navbar{
        display:none;
    }
    
    .head2{
        display:none;
    }
    .head3{
        display: block;
    }

    .fieldset1{
        display: grid;
        grid-template-columns: repeat(1, 8fr);
        border: none;
        margin-top: 5%;
    }
    
    .fieldset1 div:nth-child(odd){

        margin-left: 5%;
    
    }

    .contact-info{
        margin-top: 60%;
        margin-left: 6%;
    }

    .contact-info p{
        font-size: 12px;
    }

    .contact-info h5{
        font-size: 16px;
    }

    .section-1-contact form{  
        position: absolute;
        left:11%;
        top:80%;
        width:81%;
        height:370%;    
    }

    .section-2-contact{
        display: flex;
        flex-direction: column;
        margin-top: 45%;
    }

    .section-2-contact h5{
        margin-left: -11%;
    }

    .section-2-contact img{
        margin-top: 5%;
        margin-left: -11%;
    }

    .contact-footer{
        margin-top: 55%;
    }

    .header-content h1{
        font-size: 40px;
    }

    .top3 #menu2{
        
        width: 10%;
    }

    .contact-footer img{
        width:56px;
        height:34.83px ;  
        position: absolute;
        bottom: 40%;
    }
    
    .footer p{
        font-family: var(--c-font);
        position: relative;
        left: 60%;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.55em;
        letter-spacing: 0.02em;
    }

    .head3{
        
        margin-bottom: 90px;
    }
}

@media (max-width: 562px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 404px){
    .section-2 button{
        position: absolute;
        left: 4%;
        width:100px
    }
}

 @media (max-width: 845px) {

    .footer p{
        font-family: var(--c-font);
        position: relative;
        left: 40%;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.55em;
        letter-spacing: 0.02em;
    }
}

@media (max-width: 476px) {

    .footer p{

        position: relative;
        left: 20%;
    }

} 

 @media (max-width: 424px) {

    .footer p{

        position: relative;
        left: 10%;
        font-size: 10px;
    }

    .footer img{
        width:44px; 
        height:22.83px;
        position: absolute;
        top: 20%;
        left:35% ;
        display: block; 
    }

} 

 @media (max-width: 370px) {
    .top3 #menu2{
        
        width: 10%;
        margin-right: 50px;
    }
}

@media (max-width: 370px) {
    .header-content button{
        width: 80px;
    }
} 

/* @media screen and (max-width: 1200px)
 {

    .header-navbar .menu-logo img{
        width: 58px;
        height: 40px;
        position: absolute;
        top:23%;
        right: 10%;
        display: block;
    }

} */

